.add {
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 150px;
  box-shadow:
    0 4px 6px -1px rgba(231, 231, 231, 0.5),
    0 -4px 6px -1px rgba(231, 231, 231, 0.5),
    4px 0 6px -1px rgba(231, 231, 231, 0.5),
    -4px 0 6px -1px rgba(231, 231, 231, 0.5);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.addbtn {
  background-color: #4990e2;
  border-radius: 50px;
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  gap: 20px;
  color: white;
}

.bg {
  background-color: #f5f5f5;
  padding-top: 30px;
}

.list {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: 700px;
  box-shadow:
    0 4px 6px -1px rgba(231, 231, 231, 0.5),
    0 -4px 6px -1px rgba(231, 231, 231, 0.5),
    4px 0 6px -1px rgba(231, 231, 231, 0.5),
    -4px 0 6px -1px rgba(231, 231, 231, 0.5);
  margin: auto;
}

.font {
  padding: 30px 25px;
  color: rgb(129, 129, 129);
}
